[submodule "02_Pengenalan_IDE_dan_Pemrograman_CSharp"]
	path = 02_Pengenalan_IDE_dan_Pemrograman_CSharp
	url = https://github.com/doantaa/02_Pengenalan_IDE_dan_Pemrograman_CSharp.git
[submodule "05_Generics"]
	path = 05_Generics
	url = https://github.com/doantaa/05_Generics.git
[submodule "06_Design_by_Contract_dan_Defensive_Programming"]
	path = 06_Design_by_Contract_dan_Defensive_Programming
	url = https://github.com/doantaa/06_Design_by_Contract_dan_Defensive_Programming.git
